*{
    margin: 0;   /*removes any default margins*/
    padding: 0;
}

body{
    min-height: 100vh; /*Ensures content occupies entire screen*/
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
}

nav{
    /* background-color: rgb(77, 77, 77); */
    /* display: flex; */
    font-size: 2rem;
    margin-left: 100px;
    margin-right: 100px;
}

nav ul{ 
    width: 100%;
    list-style: none;
    align-items: center;

}

nav li{
    height: 40px;
}

.navHoverEffect{
    text-decoration: none;
    color: white;
    transition: transform 0.5s ease-in-out;
    display: inline-block
}

.navHoverEffect:hover{
    transform: translateX(15px) scale(1.1); 
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
        }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
        50% {
        opacity: 0.5;
    }
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOut {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    
}
.sidebar{
    
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: slideIn 1s ease-out 0.5s 1 normal forwards;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
    position: fixed;
    left: 20px;
    top: 40px;
}

.x-button{
    margin-left: 20px;
    margin-top: 40px;
}

#homeMargin{
    margin-top: 80px;
}

.navOnMoble{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 2.5rem;
}

.logoDiv{
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    height: 150px;
}




.bio{
    /* background-color: rgb(0, 136, 255); */
    text-align: right;
    color: white; 
    margin-bottom: 100px;
    position: fixed;
    bottom: 0;
    right: 100px;
}

.headImg{
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.headDiv{
    /* background-color: aqua; */
    text-align: right;
}

#bioName{
    font-size: 1.7rem;
}

#bioAdjective{
    font-size: 1rem;
    height: 20px;
}


@media(max-width: 800px){





    .hideOnMoble{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .logoImg{
        margin-top: 20px;
        height: 100px;
    }

    nav li{
        height: 55px;
    }

    .bio{
        margin-bottom: 70px;
        right: 50px;
    }

    .headImg{
        height: 150px;
        margin-bottom: 15px;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}